<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Nothwind" connectionString="Server=(localdb)\ProjectsV13;Database=Northwind;Integrated Security=true;"/>
    <add name="Scott"    connectionString="Server=(localdb)\ProjectsV13;Database=Scott;Integrated Security=true;"/>
  </connectionStrings>
</configuration>