################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Src/artifacts/bin
*.user
/Test/Data.Tests/bin/Debug
/Test/Data.Tests/obj/Debug
