################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Src/artifacts/bin
*.user
/Test/Data.Tests/bin/Debug
/Test/Data.Tests/obj/Debug
*.suo
/Test/Apps72.Dev.Data.Tests/bin/Debug
/Test/Apps72.Dev.Data.Tests/obj/Debug
/Test/Apps72.Dev.Data.Performances/bin/Debug
/packages/Dapper.1.42
/Test/Apps72.Dev.Data.Performances/obj/Debug
/Test/Apps72.Dev.Data.Performances/bin/Release
/Test/Apps72.Dev.Data.Performances/obj/Release
/Test/Apps72.Dev.Data.Tests/bin/Release
/Test/Apps72.Dev.Data.Tests/obj/Release
/.vs/config/applicationhost.config
/Src/Apps72.Dev.Data.Sqlite/bin/x86/Debug
/Src/Apps72.Dev.Data.Sqlite/obj/x86/Debug
/Test/Apps72.Dev.Data.Sqlite.Tests/bin/x86/Debug
/Test/Apps72.Dev.Data.Sqlite.Tests/obj/x86/Debug
/Test/Apps72.Dev.Data.Sqlite.Tests/project.lock.json
/Test/Apps72.Dev.Data.Sqlite.Tests/Data.Sqlite.Tests.nuget.targets
/Test/Apps72.Dev.Data.Sqlite.Tests/Apps72.Dev.Data.Sqlite.Tests.nuget.targets
/Src/Apps72.Dev.Data.Sqlite/Data.Sqlite.nuget.targets
/Src/Apps72.Dev.Data.Sqlite/bin/x86/Release
/Src/Apps72.Dev.Data.Sqlite/obj/x86/Release
/Test/Apps72.Dev.Data.Sqlite.Tests/bin/x86/Release
/Test/Apps72.Dev.Data.Sqlite.Tests/obj/x86/Release
/packages/Dapper.1.50.0-beta9
/Source/bin
/Source/obj
/Src/Apps72.Dev.Data.Sqlite/obj/Release
/Tests/TestsSqlServer/obj
/Tests/UnitTests/bin
/Tests/UnitTests/obj/Debug
/Tests/UnitTests/obj/Release
/Tests/TestsSqlServer/bin/Release/Apps72.Dev.Data.SqlServer.xml
/Src/Apps72.Dev.Data.Sqlite/bin
/Src/Apps72.Dev.Data.Sqlite/obj/Debug
/packages/Oracle.ManagedDataAccess.12.1.24160419/bin
/packages/Oracle.ManagedDataAccess.12.1.24160419
/Src/Apps72.Dev.Data.Oracle/bin/Debug
/Src/Apps72.Dev.Data.Oracle/obj/Debug
